@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background-color: #ffffff;
}

.task {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15px;
  padding: 12px 18px 15px 21px;
  color: #ffffff;
  background-color: #3579f5;
  border-radius: 10px;
}

.task__chart {
  --сompleted-tasks: 2; /*Процент выполнения задач*/
  --size: 62px;
  --border-fill: 2px;
  --border-empty: 1px;
  --border-color: #ffffff;
  --end-angle: calc((360deg / 100) * var(--сompleted-tasks));

  position: relative;
  margin-top: 2px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
}

.task__chart-fill {
  position: absolute;
  z-index: 2;
  width: calc(var(--size) - var(--border-fill));
  height: calc(var(--size) - var(--border-fill));
  border-radius: 50%;
  background: conic-gradient(#ffffff 0 var(--end-angle), transparent var(--end-angle));
  mask: radial-gradient(farthest-side, transparent calc(100% - var(--border-fill)), #000000 0);
}

.task__chart-fill:before,
.task__chart-fill:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: var(--border-fill);
  height: var(--border-fill);
  background-color: var(--border-color);
  border-radius: 50%;
  z-index: 2;
}

.task__chart-fill:before {
  transform: translateX(-50%);
}

.task__chart-fill:after {
  transform: translateX(-50%) rotate(var(--end-angle));
  transform-origin: center calc(var(--size) / 2 - var(--border-empty));
}

.task__chart-line {
  position: absolute;
  z-index: 1;
  width: calc(var(--size) - var(--border-fill) - var(--border-fill) / 2);
  height: calc(var(--size) - var(--border-fill) - var(--border-fill) / 2);
  background-color: rgba(255, 255, 255, 0.5);
  mask: radial-gradient(farthest-side, transparent calc(100% - var(--border-empty)), #000000 0);
  border-radius: 50%;
}

.task__chart-text {
  font-size: 20px;
  line-height: 30px;
}

.task__content {
  width: 443px;
}

.task__category {
  display: inline-block;
  padding: 0 13px;
  background-color: #2364db;
  border-radius: 40px;
}

.task__title {
  margin: 4px 0 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.task__description {
  margin: 4px 0 0;
}

.task__button {
  margin: 16px 0 0;
  padding: 10px 21px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4777ed;
  background-color: #f4f8ff;
  outline: 2px solid #f4f8ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.task__button:hover {
  color: #f4f8ff;
  background-color: #4777ed;
}

.task__button:active {
  color: #4777ed;
  background-color: #f4f8ff;
}
